In [2]:
x = 5
print(type(x))

<class 'int'>

In [3]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [4]:
x = ["apple"]
print(type(x))

<class 'list'>

In [5]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [6]:
x = ("apple")
print(type(x))

<class 'str'>

In [ ]:
x = 5.5
x = integer(x)

In [7]:
x = ("apple",)
print(type(x))

<class 'tuple'>

In [10]:
x = 5
x = 0.0+(x)
print(type(x))

<class 'float'>

In [17]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [16]:
txt = "Hello World"
x = txt[2:4]
print(x)

ll

In [28]:
txt = " Hello World "
x = txt.strip(' Hello')
print(x)

World

In [27]:
txt = "Hello World"
txt = txt.upper()
print(x)

 Hello World

In [19]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [18]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [29]:
print(10 > 9)

True

In [30]:
print(10 == 9)

False

In [31]:
print(10 < 9)

False

In [32]:
print(bool("abc"))

True

In [33]:
print(bool(0))

False

In [ ]:
print(10 * 5)

In [ ]:
print(10 / 2)

In [35]:
fruits = ["apple", "banana"]
if "apple" in fruits:
        print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [ ]:
if 5 != 10:
      print("5 and 10 is not equal")

In [39]:
if 5 == 10 or 4 == 4:
      print("At least one of the statements is true")

At least one of the statements is true

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

In [40]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [45]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [46]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [47]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [48]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry
['apple', 'banana', 'cherry']

In [49]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [50]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [51]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

In [54]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
      print("Yes, apple is a fruit!")

In [55]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

In [58]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'cherry', 'orange', 'apple', 'banana', 'grapes', 'mango'}

In [59]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [60]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["model"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'red', 'year': 1964}

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["potencia"] = "500"
print(thisdict)
thisdict.popitem()
print(thisdict)
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'potencia': '500'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}

In [65]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car["model"])

Mustang